<template>
  <v-app theme="dark">
    <Navbar />
    <Sidebar />
    <v-main>
      <v-container style="min-height: calc(100vh);">
        <slot />
      </v-container>
      <Footer />
    </v-main>
  </v-app>
</template>

<script setup>
import { useApplicationStore } from "../Stores/application";
import Sidebar from "../Components/Layout/Sidebar";
import Navbar from "../Components/Layout/Navbar";
import Footer from "../Components/Layout/Footer";
import { usePage } from "@inertiajs/inertia-vue3";
</script>
