<template>
    <v-card
    class="mx-auto"
    width="600"
    prepend-icon="mdi-account"
  >
    <template v-slot:title>
      Iniciar sesión
    </template>

    <v-card-text>
      <LoginForm />
    </v-card-text>
  </v-card>
</template>

<script setup>

import LoginForm from '../../Components/Users/LoginForm';

</script>
