<template>
    <v-card
    class="mx-auto"
    width="600"
    prepend-icon="mdi-account"
  >
    <template v-slot:title>
      Registrarme
    </template>
    <v-card-text>
      <RegisterForm />
    </v-card-text>
  </v-card>
</template>

<script setup>
import RegisterForm from '../../Components/Users/RegisterForm';
</script>
