<template>
  <v-app-bar color="primary" image="https://picsum.photos/1920/1080?random">
    <template v-slot:image>
      <v-img
        gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)"
      ></v-img>
    </template>

    <template v-slot:prepend>
      <v-app-bar-nav-icon
        @click.stop="applicationStore.toggleSidebar()"
      ></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Music App</v-app-bar-title>

    <v-spacer></v-spacer>

    <v-menu v-if="isUserLoggedIn" anchor="start">
      <template v-slot:activator="{ props }">
        <v-btn icon v-bind="props" title="Menú de usuario">
          <v-icon>mdi-account-circle-outline</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item value="perfil_usuario">
          <v-list-item-title>Mi perfil</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item @click.prevent="applicationStore.logout" value="cerrar_session">
          <v-list-item-title>Cerrar sesión</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script setup>
import { useApplicationStore } from "../../Stores/application";
import { computed } from "vue";
import { usePage } from "@inertiajs/inertia-vue3";

const applicationStore = useApplicationStore();

const user = computed(() => usePage().props.value.user);

const isUserLoggedIn = computed(() => (user.value));

</script>
