<template>
  <v-navigation-drawer v-model="applicationStore.showSidebar" bottom temporary>
    <v-list>
      <v-list-subheader>Menú</v-list-subheader>
      <template v-for="(item, i) in items" :key="i">
        <v-list-item
          v-if="item.show"
          :value="item"
          active-color="primary"
          rounded="xl"
          @click.prevent="goToUrl(route(item.route))"
        >
          <v-list-item-avatar start>
            <v-icon :icon="item.icon"></v-icon>
          </v-list-item-avatar>
          <v-list-item-title v-text="item.text"></v-list-item-title>
        </v-list-item>
      </template>
      <v-list-item
        v-if="isUserLoggedIn"
        active-color="primary"
        rounded="xl"
        @click.prevent="applicationStore.logout"
      >
        <v-list-item-avatar start>
          <v-icon icon="mdi-exit-run"></v-icon>
        </v-list-item-avatar>
        <v-list-item-title title="Cerrar sesión" v-text="`Salir`"></v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script setup>
import { useApplicationStore } from "../../Stores/application";
import { useUserStore } from "../../Stores/user";
import { ref, computed } from "vue";
import { Inertia } from "@inertiajs/inertia";
import { usePage } from "@inertiajs/inertia-vue3";

const applicationStore = useApplicationStore();
const userStore = useUserStore();

const user = computed(() => usePage().props.value.user);

const isUserLoggedIn = computed(() => (user.value));

const items = ref([
  { text: "Inicio", icon: "mdi-home", route: "home", show: true },
  {
    text: "Ingresar",
    icon: "mdi-account",
    route: "login",
    show: !isUserLoggedIn.value,
  },
  {
    text: "Registarme",
    icon: "mdi-flag",
    route: "register",
    show: !isUserLoggedIn.value,
  },
]);

const goToUrl = (url) => {
  applicationStore.toggleSidebar();
  return Inertia.get(url);
};

</script>
