<template>
  <v-row>
    <v-col cols="12" sm="7">
      <v-card class="mx-auto elevation-3" variant="outlined">
        <v-card-header>
          <div>
            <div class="text-overline mb-1">
                Últimos posts
            </div>
            <div class="text-h6 mb-1">Headline</div>
            <div class="text-caption">
              Greyhound divisely hello coldly fonwderfully
            </div>
          </div>
        </v-card-header>
      </v-card>
    </v-col>
    <v-col cols="12" sm="5">
      <v-card v-for="i in 4" :key="i" class="mx-auto elevation-3 mb-3" variant="outlined">
        <v-card-header>
          <div>
            <div class="text-overline mb-1">OVERLINE</div>
            <div class="text-h6 mb-1">Headline</div>
            <div class="text-caption">
              Greyhound divisely hello coldly fonwderfully
            </div>
          </div>
        </v-card-header>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup>
</script>
