<template>
  <v-form @submit.prevent="submit()">
    <v-text-field
      v-model="form.email"
      label="E-mail"
      :error="form.errors.email ? true : false"
      :error-messages="form.errors.email"
      autocomplete="off"
    ></v-text-field>

    <v-text-field
      v-model="form.password"
      type="password"
      :error="form.errors.password ? true : false"
      :error-messages="form.errors.password"
      label="Su contraseña"
      autocomplete="off"
    ></v-text-field>

    <v-btn type="submit" color="success" class="mr-4" :disabled="form.processing">
      Iniciar sesión
    </v-btn>
  </v-form>
</template>
<script setup>
import { useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
    email: null,
    password: null,
});

const submit = (route) => {
    form.post('/login', {
        onSuccess: () => {
            location.reload();
        }
    });
}
</script>
