<template>
  <v-form @submit.prevent="submit">
    <v-text-field
      v-model="form.name"
      label="Ingrese su nombre"
      :error="form.errors.name ? true : false"
      :error-messages="form.errors.name"
      shaped
    ></v-text-field>

    <v-text-field
      v-model="form.email"
      label="E-mail"
      :error="form.errors.email ? true : false"
      :error-messages="form.errors.email"
      required
    ></v-text-field>

    <v-text-field
      v-model="form.password"
      type="password"
      label="Ingrese su contraseña"
      :error="form.errors.password ? true : false"
      :error-messages="form.errors.password"
      hint="Debe contener al menos 8 caracteres"
      required
    ></v-text-field>

    <v-text-field
      v-model="form.password_confirmation"
      type="password"
      label="Confirme su contraseña"
      :error="form.errors.password_confirmation ? true : false"
      :error-messages="form.errors.password_confirmation"
      required
    ></v-text-field>

    <v-btn type="submit" color="primary" class="mr-4" :disabled="form.processing">
      Registrarme
    </v-btn>
  </v-form>
</template>
<script setup>
import { useForm } from '@inertiajs/inertia-vue3';

const form = useForm({
    name: null,
    email: null,
    password: null,
    password_confirmation: null,
});

const submit = () => {
    form.post('/register', {
        onSuccess: () => {
            location.reload();
        }
    });
}

</script>
